@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

:root {
  --bg-light: #fffdfb;
  --primary: #f55c93;
  --secondary: #e4b2c0;
  --accent: #fff3a8;
  --text: #2b2530;

  --font-heading: 'Abhaya Libre', serif;
  --font-body: 'Inter', sans-serif;
}

html, body {
  background: var(--bg-light);
  color: var(--text);
  font-family: var(--font-body);
  overflow-x: hidden;
}
